


<html>
<head>

<style>
body {
  margin: 0;
  background: linear-gradient(to bottom, DarkGreen 60%,white 0%);
  
  height:100vh;
  text-align:center;
  color:#fff;
}
a:link, a:visited {
 
    background-color:white;
    color:black;
    position:relative;
    border:10px solid GhostWhite;
    top:250px;
    padding: 100px 90px;
   text-decoration: none;
   display: inline-block;
   margin:50px;
   
     
}

 
a:hover, a:active   {
  background-color: #00FF00;
}




</style>
</head>
<body>

<br>



<a href="/remote">REMOTE</a>
<a href="/automatic">AUTO</a>





</br>
</body>
</html>