<!DOCTYPE html>
<html>
<title>Autonomous Mode</title>

<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {

      font-size: 15px;
      color: white;
    }





    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: darkslategrey;
      text-align: center;
      display: flex;
      flex-flow: row wrap;
      font-size: 20px;

    }


    li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #ccc;
    }
  </style>

</head>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

  window.onload = function () {
    var imgX;
    var imgY;

    var canvas = document.getElementById("canvas"),
      ctx = canvas.getContext("2d");
    canvas.width = 945;
    canvas.height = 681;

    var background = new Image();
    background.src = "/static/rviz.png";
    console.log("canvas and background initialization");
    background.onload = function () {

      ctx.drawImage(background, 0, 0);


    }

    console.log("after draw");
    function getMousePosition(canvas, event) {
      let rect = canvas.getBoundingClientRect();
      imgX = event.clientX - rect.left;
      imgY = event.clientY - rect.top;

      console.log(imgX, imgY);
      

      var icon = new Image();
      icon.src = "/static/pin1.png";
      ctx.drawImage(background, 0, 0);
      ctx.drawImage(icon, imgX - 12, imgY - 24);
    }

    let canvasElem = document.querySelector("canvas");
    canvasElem.addEventListener("mousedown", function (e) {
      getMousePosition(canvasElem, e);
    });

    document.getElementById('button_go').addEventListener('click', function (e) {
      
      $.ajax({
        type: 'GET',
        url: '/getpose/' + imgX + ',' + imgY,

        success: function () {
          console.log('gun');
        }

      })
    });

    var myVar = setInterval(getPlan, 1000);
        function getPlan() {
            $.ajax({
                url: '/getPlan',
                type: 'get',
                success: function (response) {
                  var icon = new Image();
                  icon.src = "/static/circlept.png";
                  var res = response.split("_");
                  ctx.drawImage(background, 0, 0);
                  for (var point of res){
                    point = point.split(",");
                    ctx.drawImage(icon, point[0]-4, point[1]-4);

                  }

                  
                  var pin = new Image();
                  pin.src = "/static/pin1.png";
                  pt = res[res.length-1].split(",")
                  ctx.drawImage(pin, imgX-12, imgY-24);


                }
            })
        }
  };


</script>



<body style="background-color: black;">
  <ul>
    <div class="w3-middle">
      <div class="w3-bar w3-# w3-card">
        <a href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large"><i class="fa fa-home"></i> HOME</a>
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-padding-large w3-button">MODE <i class="fa fa-caret-down">
            </i></button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4">

            <a href="/automatic" class="w3-bar-item w3-button"><b>automatic</b></a>
            <a href="/remote" class="w3-bar-item w3-button"><b>Manual</b></a>
          </div>
        </div>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><i class="fa fa-user"
            aria-hidden="true" style="font-size:20px"></i> CONTACT</a>

        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-padding-large w3-button">ABOUT <i class="fa fa-caret-down"></i></button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a style="font-size:20px" class="w3-bar-item w3-button"><b><i>Our Robot is a multi-task utility robot
                  designed with a perfect mix of technology like AI, Autonomous solutions and IOT to work effectively on
                  cleaning and servicing in hospitals</i> </a>

          </div>
        </div>

      </div>
    </div>
  </ul>


  <!--<center><img style="margin:50px ; " id="myimage" width="900" height="650px"  src="/static/rviz.png" align="center">-->
  <center><canvas id="canvas"></canvas>
    <br>

    <a align="center">
      <img id='button_go' style="height: 65px;cursor:pointer;" src="/static/Go.png">
      </br>



</body>

</html>